<div class="container-fluid bg-dark" id="footer">
  <div class="row">
  <div class="col-sm-4">
<div class="container mt-4 text-center text-white">
  <h5>Office address</h5>
<p>10 to 12 Allen Avenue, Ikeja, G.R.A</p>
<P>Lagos, Nigeria</P>
</div>
  </div>
   <div class="col-sm-4">
     <div class="container mt-3 text-center text-white">
         <h5 class="text-center my-2" id="myAdmin"> Vicky Interior Designs Admin Dashboard</h5>

  </div> 
  </div>
   <div class="col-sm-4">
    <div class="container mt-4 text-center text-white" id="footer-nav">
       <h5>Quick links</q></h5>
   <p><a href="/about">About</a></p>
   <p><a href="/testimonies">Testimonies</a></p>
   <p><a href="/services">Services</a></p>
   <p><a href="/blog">Blog</a></p>
    <p><a href="/logout">Logout</a></p>
</div>
</div>
</div>
<div class="container mt-4">
  <p class="text-center text-white">&copy; vicky designs 2021. All right reserved</p>

</div>
</div>


<style>
      #myAdmin{
              color: white;
             font-weight:bold;
    }
</style>