<div class="container-fluid  bg-danger p-3 " id="admin-header">
    <h5 class="text-center my-2" id="myAdmin"> Vicky Interior Designs Admin Dashboard</h5>
    <ul class="nav d-flex justify-content-center mt-3">
       <li class="nav-item">
           <a class="nav-link" href="/">Home</a>
       </li>
        <li class="nav-item">
           <a class="nav-link" href="/dashboard">Dashboard</a>
       </li>
         <li class="nav-item">
           <a class="nav-link" href="/add">Add Post</a>
       </li>
         <li class="nav-item">
           <a class="nav-link" href="/blog">View Blog</a>
       </li>
        <li class="nav-item">
           <a class="nav-link" href="/admin/logout">Logout</a>
       </li>
    </ul>
</div>


<style>
    #myAdmin{
                color: white;
                font-weight:bold;
    }
    .nav a{
         font-weight: lighter;    
    }
  
</style>