{{>_header}}


<div class="container">
    <h5 class="text-center my-4" id="staff">Testiomonies</h5>
    <div class="row">
    <div class="col-lg-4" id="test">
        <div class="media">
            <img class="mr-3" src="/images/ad1.jpg" width="200px" height="200px" id="mediaImage">
            <div class="media-body">
              <span class="badge badge-danger p-2 my-2" id="name">Elizabeth James</span>
             <p class="text-center"> <i class="fa fa-quote-left"></i>  Vicky Interior designs is the best when it comes to interior decorations <i class="fa fa-quote-right"></i></p>

            </div>
        </div>
    </div>
     <div class="col-lg-4 " id="test">
         <div class="media">
            <img class="mr-3" src="/images/ad1.jpg" width="200px" height="200px" id="mediaImage">
            <div class="media-body">
              <span class="badge badge-danger p-2 my-2" id="name">Rowland Mathew </span>
              <p class="text-center">   <i class="fa fa-quote-left"></i> The best company in the world.    <i class="fa fa-quote-right"></i> </p>
            </div>
        </div>
    </div>
     <div class="col-lg-4" id="test">
         <div class="media">
            <img class="mr-3" src="/images/ad1.jpg" width="200px" height="200px" id="mediaImage">
            <div class="media-body">
              <span class="badge badge-danger p-2 my-2" id="name">Don Desto</span>
              <p class="text-center"> <i class="fa fa-quote-left"></i> My favourite interior decoration company <i class="fa fa-quote-right"></i></p>
            </div>
        </div>
    </div>
    
    </div>
</div>

<div class="container-fluid" id="services">
  <h5 class=" text-center my-4">Services</h5>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center serve">What we do</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id modi fugiat deserunt dicta error inventore omnis tenetur! Voluptate doloremque quasi perferendis quidem nostrum necessitatibus
               placeat esse ipsam? Accusantium, veniam numquam?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nihil ea mollitia. Alias assumenda molestias ad fugit eos sit neque et repellat quibusdam sunt.
             Perspiciatis earum tenetur harum neque voluptatem.</p>
        </div>
          <div class="col-sm-8">
            <p class="text-center serve ">Capacity building seminal</p>
             <img src="/images/employee8.jpg" class="d-block img-fluid mx-auto" alt="No image">

        </div>
        
    </div>
</div>

<div class="container">
  <h5 class="text-center my-4" id="card">Blog Posts</h5>
<div class="card-group">
  <div class="card ">
   
       <img class="card-top" src="/images/ad1.jpg" width="">
      <div class="card-body">
        <h5 class="card-title">This is header</h5>
        <p class="card-text">This is details</p>
      <a href=""><span class="badge badge-danger p-2">readmore</span></a>

      </div>
   
  </div>
   <div class="card mx-md-2 ">
   
       <img class="card-top" src="/images/ad1.jpg" width="">
      <div class="card-body">
        <h5 class="card-title">This is header</h5>
        <p class="card-text">This is details</p>
        <a href=""><span class="badge badge-danger p-2">readmore</span></a>
      </div>
   
  </div>
   <div class="card  ">
    
       <img class="card-top" src="/images/ad1.jpg" width="">
      <div class="card-body">
        <h5 class="card-title">This is header</h5>
        <p class="card-text">This is details</p>
        <a href=""><span class="badge badge-danger p-2">readmore</span></a>

      </div>
   </div>
  </div>
</div>

<div class="container-fluid my-4" id="contents">
      <h5 class="text-center my-4" id="card">The Owner</h5>
      <div class="row">
        <div class="col-md-2">
<img class="" id="owner" src="/images/ad1.jpg" width="200px" height="200px" alt="Owner image">
       <span class="badge badge-danger p-2 my-2 text-center ml-5 " id="me">Elizabeth James</span>
   
        </div>
         <div class="col-md-10">
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste odio corrupti nam minus enim ratione quisquam, assumenda neque eius illum magna
            odit incidunt provident ipsa non dolorum, culpa, rem aut.</p> 
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est cumque quas voluptatum quidem quos numquam praesentium vitae aut dolorum iure, reprehenderit doloribus
             cupiditate quae. Ullam autem in architecto ea beatae.</p>
       <span> <p class="mt-5">Follow me on </p>
       <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i>
       <i class="fa fa-instagram"></i> <i class="fa fa-pinterest"></i></span>
        </div>
      </div>
</div>


{{>_footer}}